GOOGLE_ID=
GOOGLE_CLIENT_SECRET=
MONGODB_URI=mongodb+srv://admin-shrey:G3GW7uMZtNdbym0k@cluster0.plygiou.mongodb.net/?retryWrites=true&w=majority

NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_URL_INTERNAL=http://localhost:3000/
NEXTAUTH_SECRET=KBUdV1wLt63/lCmc2FQun5+VBl/OPUNnb/XygRvLlg8=